.footer2{
    width: 100%;
    /* height:100px; */
    display:flex;
    background-color: #463834;
    padding:20px;
}

.contact-info{
    /* border-right: 2px solid white; */
    color: white;
    width: 50%;
    text-align: center;

}

.date{
    color: white;
    font-size: 60px;
    text-align: end;
}