h1{
    margin: 0 !important;
    padding: 0 !important;
}

.wrapper{
    width: 100%;
    height: auto !important;
    background-color: black !important;
    align-items: center;
}

.navigate2{
    width:60%;
    height: 8vh;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
}

.bar2{
    background-color: #A63446;
}

#menuBar2{
    /* width:60px; */
    float:right;
    padding: 15px;
    cursor: pointer;
}

#logo2 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f06461;
    color: black;
    float: left;
    font-size: 30px;
    text-align: center;
    font-weight: 600;
    margin-top: 12px;
    margin-left: 21px;
}

#logo2 p{
    margin-top: -2px;
    font-size: 35px;
}

#firstMenuBar{
    width:60px;
    height:4px;
    background-color: #038a81;
}

#secondMenuBar{
    width:40px;
    height:4px;
    margin-left: 20px;
    margin-top: 5px;
    background-color: #f06461;
}

#thirdMenuBar{
    width:20px;
    height:4px;
    margin-left: 40px;
    margin-top: 5px;
    background-color: white;
}

.container{
    height: auto;
}
.contain{

    height: auto;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    display: -webkit-flex; 
    -webkit-flex-wrap: wrap;
    background-color: black;
    justify-content: center;

}

.oldsite{
    text-decoration: none;
}

.oldsite:hover{
    text-decoration: none;
}

.iphoneWrapper{
    min-width: 60%;
    height:auto;
    max-width: 1000px;
    text-align: center;
}

.nameWrapper{
    min-width: 40%;
    height:80vh;
    text-align: center;
}


.iphoneWrapper img{
    max-width: 742px;
    height: 700px;
    margin-top: 100px;
    position: relative;
}

.about{
    top: 50%;
    transform: translateY(-50%);
    position: relative;
}


.nameWrapper h1{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 45px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400
}

.developer{
    color:#038a81;
    padding-bottom: 20px;
    transition-delay: 6s;
    transition-duration: 2s;
}

.designer{
    color: white;
}

.designerFormat{
    position: relative;
    left: 30%;
    transform: translateX(-30%);

}

.buttonLearn {
    height: auto;
    font-size: 20px;
    color: white;
    font-weight: 600;
    width: 232px;
    padding: 17px;
    border: 2px solid #f06461;
    margin-top: 60px;
    background-color: transparent
}

.nameWrapper .button-learn{
    position: relative;
    top: 35%;
    left:45%;
    transform: translate(-35%, 45%);
}




.wrapper{
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: white;

} 


.sidenav {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    background-color: black;
    overflow-y: hidden;
    transition: 0.5s;
    display: flex;

  }

  .closeNav{
    background-color: #161616;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    display: flex;
    transition: 1s;
    overflow-y: hidden;
  }

.avatarWrapper{
    width:60%;
    height: auto;
}

.avatar img{
    width:700px;
    height: 700px;
    margin-top: 60px;

}

.linksSocial{
    width:40%;
    height: auto;
    text-align: center;
}
.linksSocial p{
    font-size: 90px;
    margin-right: 60px;
}

.linksSocial a{
    text-decoration: none;
    color: #ef6360;
}


.linksSocial .closebtn{
    color: white;
}

.favourite{
 color: white;
 font-size: 20px;
 text-align: center;
}

@media only screen and (max-width: 1330px){


.contain{
    width:100%;
}

.nameWrapper h1{
    top: 50%;
    transform: translateY(-50%);
    font-size: 48px;
    height: auto;
}


.buttonLearn {
    font-size: 28px;
    font-weight: 400;
    width: 70%;
    padding: 9px;
}

.buttonformat h1{
    width:60%;
}

.iphoneWrapper img{
    max-width: 862px;
    height: 850px;
    margin-top: 4px;
    justify-content: center;
}

.iphoneWrapper{
    max-width: 800px;
}

.nameWrapper{
    margin-top:80px;
    height:auto;
}

.avatarWrapper{
    width:0%;
    height: auto;
}

.avatar img{
    width:300px;
    height: 300px;

}

.linksSocial{
    width:100%;
    height: auto;
    text-align: end;
    background-color: black;
}
.linksSocial p{
    font-size: 80px;
}

.navigate2{
    width:85%;
    height: 8vh;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
}

.bar{
    background-color: #A63446;
}
.menuBar{
    /* width:60px; */
    float:right;
    padding: 15px;
    cursor: pointer;
}

#logo2 {
    width: 55px;
    height: 55px;
    font-size: 40px;
}


#firstMenuBar{
    width:69px;
    height:7px;
}

#secondMenuBar{
    width:49px;
    height:7px;
}

#thirdMenuBar{
    width:29px;
    height:7px;
}

}


@media (orientation: landscape) and (max-width: 850px) {


    .contain{
        width:100%;
    }

    .navigate2{
        width:90%;
    }


    #logo2 {
        width: 35px;
        height: 35px;
    }

    #logo2 p{
        margin-top: -6px;
        font-size: 30px;
    }
    
    .nameWrapper{
        min-width: 40%;
        height:60vh;
        text-align: center;
    }


    .nameWrapper h1{
        transform: translateY(-50%);
        font-size: 28px;
    }
    
    
    .buttonLearn {
        font-size: 16px;
        font-weight: 400;
        width: 50%;
        padding: 8px;
    }
    
    .buttonformat h1{
        width:70%;
    }
    
    .iphoneWrapper img{
        max-width: 362px;
        height: 350px;
        margin-top: 4px;
        justify-content: center;
    }
    
    .iphoneWrapper{
        max-width: 800px;
    }
    
    .nameWrapper{
        margin-top:80px;
        height:auto;
    }
    
    .avatarWrapper{
        width:0%;
        height: auto;
    }
    
    .avatar img{
        width:300px;
        height: 300px;
    
    }
    
    .linksSocial{
        width:100%;
        height: auto;
        text-align: end;
        background-color: black;
    }
    .linksSocial p{
        font-size: 50px;
    }

        
    .buttonLearn {
        font-size: 16px;
        font-weight: 400;
        width: 61%;
        padding: 8px;
    }
    
  
  }
    

  @media only screen and (max-width: 610px){


    .contain{
        width:100%;
    }

    #logo2 {
        width: 35px;
        height: 35px;
    }

    #logo2 p{
        margin-top: -6px;
        font-size: 30px;
    }


    .navigate2{
        width:90%;
    }
    
    .nameWrapper{
        min-width: 40%;
        height:60vh;
        text-align: center;
    }

    .nameWrapper h1{
        transform: translateY(-50%);
        font-size: 28px;
    }
    
    
    .buttonLearn {
        font-size: 16px;
        font-weight: 400;
        width: 61%;
        padding: 8px;
    }
    
    .buttonformat h1{
        width:70%;
    }
    
    .iphoneWrapper img{
        max-width: 362px;
        height: 350px;
        margin-top: 4px;
        justify-content: center;
    }
    
    .iphoneWrapper{
        max-width: 800px;
    }
    
    .nameWrapper{
        margin-top:80px;
        height:auto;
    }
    
    .avatarWrapper{
        width:0%;
        height: auto;
    }
    
    .avatar img{
        width:300px;
        height: 300px;
    
    }
    
    .linksSocial{
        width:100%;
        height: auto;
        text-align: end;
        background-color: black;
    }
    .linksSocial p{
        font-size: 50px;
    }
    
    
}