.wrapperSecond {
    width: 100%;
    height: 100vh;
    background: url('../images/second-wrapper.png');
    background-size: 100% 100%;
    background-position: cover;
}

.wrapperSecondCover{
    background-color: #000000ba;
    width: 100%;
    height: 100%;
}

.pageParagraph {
    width: 100%;
    margin-left: auto;
    margin-right:auto;
    color:white;
    background-color: black;
    top:40%;
    transform: translateY(-40%);
    position: relative;

}

.quotes{
    width: 50%;
    height: auto;
    position: relative;
    font-size: 25px;
    color: #c1c3aa;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    top:20%;
    transform: translateY(-20%);
    margin-bottom: 20px;
    font-weight: 500;
    font-family: initial
}

.quotes p{
    margin-top: 0 !important;
}

.pageParagraph p{
    line-height: 2;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;

}

.myname{
    color:#f06461;
    font-size: 35px;

}


.myStory{
    font-size: 40px;
    color: #f06461;
    padding-left: 40px;
    padding-top: 10px;

}

.my-story{
    width:50%;
    height: 100%;
    font-size: 29px;
    color:#c1c3aa;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-family: cursive;

}
.flag{
    margin-top: 60px;
}
.flag img{
    width:700px;
    height: 700px;   
    margin-top: 20px;
}



.my-story p {
    margin-top: 80px;
    text-align: end;
}
.my-story h1{
    font-weight: 400;
}


.mine{
    width: 50%;
    height: 100%;
    text-align: center;
}


@media only screen and (max-width: 1460px){

    .wrapperSecond {
        width: 100%;
        height: 100vh;
        background: url('../images/second-wrapper.png');
        background-size: 100% 100%;
        background-position: cover;
    }

    .quotes{
        width: 100%;
        font-size: 26px;
        margin-bottom: 40px;
        font-weight: 700;
        width: 80%;
    }

    .myname{
        font-size: 29px;
        margin-bottom: 20px;
    
    }


    .pageParagraph {
        top:40%;
        transform: translateY(-50%);
        height: 280px;
        overflow-y: scroll;
    
    }

    .myStory{
        font-size: 50px;

    
    }

}


@media only screen and (max-width: 910px){

    .wrapperSecond {
        width: 100%;
        height: 100vh;
        background: url('../images/second-wrapper.png');
        background-position: cover;
    }

    .quotes{
        width: 100%;
        font-size: 23px;
        margin-bottom: 40px;
        font-weight: 700;
        width: 70%;
    }

    .myname{
        font-size: 28px;
        margin-bottom: 20px;
    
    }

}


@media only screen and (max-width: 610px){
    .wrapperSecond {
        width: 100%;
        height: 100vh;
        background: url('../images/second-wrapper.png');
        background-position: cover;
    }

    .quotes{
        width: 100%;
        font-size: 16px;
        margin-bottom: 40px;
        font-weight: 700;
    }

    .myname{
        font-size: 20px;
        margin-bottom: 20px;
    
    }

    .pageParagraph {
        top:40%;
        transform: translateY(-50%);
        height: 280px;
        overflow-y: scroll;
    
    }

}


@media only screen and (max-width: 410px){
    .wrapperSecond {
        width: 100%;
        height: 100vh;
        background: url('../images/second-wrapper.png');
        background-position: cover;
    }

    .quotes{
        width: 100%;
        font-size: 15px;
        margin-bottom: 40px;
        font-weight: 700;
    }

    .myname{
        font-size: 20px;
        margin-bottom: 20px;
    
    }

    .pageParagraph {
        top:40%;
        transform: translateY(-50%);
        height: 220px;
        overflow-y: scroll;
    
    }


    .pageParagraph p{
    line-height: 1;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;

    }
    .myStory{
        font-size: 30px;
    }
    .pageParagraph p{
        line-height: 2;
        /* margin-bottom: 100px; */
    
    }


}




@media (orientation: landscape) and (max-width: 850px) {
    .wrapperSecond {
        width: 100%;
        height: 100vh;
        background: url('../images/second-wrapper.png');
        background-position: cover;
    }

    .quotes{
        width: 100%;
        font-size: 15px;
        margin-bottom: 40px;
        font-weight: 700;
    }

    .myname{
        font-size: 20px;
        margin-bottom: 20px;
    
    }

    .pageParagraph {
        top:40%;
        transform: translateY(-50%);
        height: 220px;
        overflow-y: scroll;
    
    }


    .pageParagraph p{
    line-height: 1;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;

    }
    .myStory{
        font-size: 30px;
    }
    .pageParagraph p{
        line-height: 2;
        /* margin-bottom: 100px; */
    
    }
  }
