#main{
    width:100%;
    height: auto;
    background-color: black;
}

#header{
    display:flex;
    width:100%;
    height:auto;
    flex-direction: column;
    justify-content: space-evenly;

}

.update{
    width:100%;
    height:auto;
    display: flex;
    flex-direction: row;
    flex-flow: row nowrap;
    background-color: bisque;
}

.designUpdate1{
    width:50%;
    height: auto;
    background-color: black;
    text-align: center;

}
.designUpdate2{
    width:50%;
    height: auto;
    background-color: black;
    text-align: center;

}

.updated{
    font-size: 15px;
    color: grey;
    font-weight:700;
}

.date{
    font-size: 18px;
    color: white;
    font-weight:700;

}

#headerDisplay{
    width:100%;
    height:auto;

}

#headerImage{
    width:100%;
    height:450px;
    display: flex;
    justify-content: center;
    background-color: black;
}

.WrapperDeveloperDesigner{
    display: flex;
    width:100%;
    height: auto;
    background-color: black;
    justify-content: center
}


#developerDesigner{
    font-size: 4.5rem;
    font-weight: 500;
    color: #fbe330; 
    padding: 20px 0;  
}

#headerImage img{
    width:230px;
    height: 420px;
    margin-top: 10px;
}

#star{
    color: white;
    font-size: 4rem;
    margin-left: 7px
}

.paragraph{
    display: flex;
    height: auto;
    justify-content: center;  
}

.aboutMe{
    width: 90%;
    min-width: 250px;
    color: white;
    line-height: 2;
    font-size: 15px;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 80px;
}

#iconWrapper{
    display: flex;
    justify-content: center;
    padding:40px;
    flex-direction: row;
    height:20vh;
}

#adjustIcon{
    width:auto;
    height: auto;
    display: flex;
    flex-direction: row;
}

.socialIcon{
    border-radius: 50%;
    background-color: transparent;
    border:2px solid #ffffffa8;
    width:50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
}

.socialIcon i{
    color: grey;
    font-size: 30px;
    cursor: pointer;
}

.socialIcon i:hover{
    color: #fbe330;
}

#informationWrapper{
    display:flex;
    width:100%;
    height:auto;
    flex-direction: column;
    justify-content: center;

}
.Information{
    width:100%;
    display:flex;
    flex-direction: row;
    padding: 30px 0;
    background-color: #151414;
}

.Information p{
    margin: 0 !important;
}


.pages{
    width:100%;
    font-size: 35px;
    color:white;
    text-align: center;
    font-weight: 200;
    position: relative;
}

.pages:hover{
    background-color: #fbe330;
    color: black;
    transition: 1s;
    -webkit-transition: 2s; /* Safari 3.1 to 6.0 */
}

.Information:nth-child(4){
    padding-bottom: 70px;
}

.animatedPage{
    border-bottom-color: #fbe330;
    border-bottom-style: solid;
    border-bottom-width: 1px;

}

.pageFooter{
    font-size: 20px;
    padding:25px;
    color:#fbe330;
    background-color: black;
    text-align: center;
    font-weight: 300
}


.link{
    text-decoration: none;
    color: white
}

.pages:hover .link{
    text-decoration: none;
    color: black;
}

@media only screen and (max-width: 710px){
    #developerDesigner{
        font-size: 2.5rem;
    }

 }

@media only screen and (max-width: 610px){
    #developerDesigner{
        font-size: 3.5rem;
    }
    #star{
        font-size: 2rem;
    }
    .socialIcon {
        width: 45px;
        height: 45px;
        margin: 0 10px;
    }

    #iconWrapper {
        padding: 20px;
    }

    .pages{
        font-size: 25px;
    }

    .pageFooter{
        font-size: 15px;
    }
    
 }


