#main{
    background-color: black;
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    overflow-x: hidden !important;
}

.homePage{
    padding: 20px;
    background-color: black;
    font-size: 20px;
    text-align: end;
}

.link {
    text-decoration: none;
    color: #fbe330;
}

.link:hover{
    text-decoration: none;
    color: white;
    
}

.projectMainWrapper{
    width: 100%;
    height:100vh;
    max-height: auto;
    background-image: url('../images/reading-table.png');
    background-size:     cover;            
    background-repeat:   no-repeat;
    background-position: center center;
  }

  .mainCover{
    height: 83vh;
    width:100%;
    background-color: #000000e0;
    justify-content: center;
    display: flex;
    font-size: 4rem;
    padding:20px;
    align-items: center;
    color:white;
    flex-direction: column;
  }

  .github {
      width:100%;
      height:auto;
      display: flex;
      justify-content: center;
  }
  .github div{
      padding:10px 18px;
      font-size:25px;
      border: 2px solid #fbe330;
      color:white;
      margin-bottom: 30px;
      font-weight:200

  }

  .github a:hover{
      color:white;
      cursor: pointer;
  }

  .scroll{
      text-align: center;
      color:grey;
      font-size: 30px;
      margin-top: 30px;
  }

  .projects{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width:100%;
      height:auto;
      background-color: white;
      justify-content: space-between;
  }

  .individualProjects{
      width:350px;
      height: 350px;
      border-radius: 20px;
      background-color: black;
      margin: 30px auto;
      background-image: url('../images/memory-game.png');
      background-size:     cover;            
      background-repeat:   no-repeat;
      background-position: center center;

  }

  .covers{
      background-color: #000000c7;
      width:350px;
      height: 350px;
      border-radius: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color:white;
      font-size: 23px;
      font-weight: 400;
  }
  .covers p{
      margin-bottom: 10px;
  }

 #p1{
    background-image: url('../images/memory-game.png');
 }
 #p2{
    background-image: url('../images/arcade.png');
 }
 #p3{
    background-image: url('../images/restaurant.png');
 }

 #p4{
    background-image: url('../images/old-site.png');
 }


 @media only screen and (max-width: 610px){
    .mainCover{
        font-size: 2rem;
      }

 }
 