#mainResume{
    background-color: white !important;
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    overflow-x: hidden !important;
}

.firstSectionWrapper{
  width: 100%;
  height:100vh;
  max-height: auto;
  background-image: url('../images/reading-table.png');
  background-size:     cover;            
  background-repeat:   no-repeat;
  background-position: center center;
}

.mainwrapper{
    height: 100%;
    width:100%;
    background-color: #000000e0;
    display: flex;
    flex-direction: column;
}

.homePage{
    width:100%;
    padding: 15px;
}
.homePage p{
    font-size: 20px;
    color: #ff0000;
    text-align: start;
    margin-right:30px
}

.download{
    width:100%;
    padding: 15px;
    display: flex;
    justify-content: flex-end;
}

.middleContent{
    font-size: 100px;
    color:white;
    text-align: end;
}
.middleContent p{
    margin: 50px;
}

.ResumeDownload{
    font-size: 18px;
    padding: 15px;
    border: 2px solid #ff0000;
    width:180px;
    text-align: center;
    color: white;
    margin-left: 40px;
    margin-top: 50px;
}

.link{
    text-decoration: none;
    color: #ff0000;
}

.link:hover{
    text-decoration: none;
    color: grey;
}

.download a{
    text-decoration: none;
    margin-right: 70px;
}
.experience{
    width:100%;
    height:auto;
    display: flex;
    flex-direction: column;

}

.skills{
    width:100%;
    height:auto;
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    flex-wrap: wrap;

}

.technologies{
    font-size: 30px;
    color:black;
    text-align: center;
    width:40%;
    min-width: 180px;
    font-weight: 300;
    padding-top: 30px;
}

.listofTechnologies{
    font-size: 15px;
    color:black;
    width:60%;
    line-height: 3;
    font-weight: 500;
    padding-top: 10px;
}

.listofWorkExperience{
    font-size: 15px;
    color:black;
    width:60%;
    line-height: 3;
    font-weight: 500;
    padding-top: 10px;

}

.title{
    font-size: 25px;
    color: #ff0000;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.date{
    font-size: 15px;
    color: black;
    margin-top: 0 !important;
    font-weight: 900;
}







.technologies2{
    font-size: 30px;
    color:white;
    text-align: center;
    width:40%;
    min-width: 200px;
    font-weight: 300;
    padding-top: 30px;
    background-color: black;
}

.listofTechnologies2{
    font-size: 15px;
    color:white;
    width:60%;
    line-height: 3;
    font-weight: 500;
    padding-top: 10px;
    background-color: black;
}

.listofWorkExperience2{
    font-size: 15px;
    color:white;
    width:60%;
    line-height: 3;
    font-weight: 500;
    padding-top: 10px;
    background-color: black;

}

.title2{
    font-size: 25px;
    color: white;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.date2{
    font-size: 15px;
    color: grey;
    margin-top: 0 !important;
    font-weight: 900;
}

@media only screen and (max-width: 810px){
.middleContent{
    font-size: 50px;
    color:white;
    text-align: end;
}

.technologies2{
    color:black;
    background-color:white;
}

.listofTechnologies2{

    color:black;
    background-color: white;
}

.listofWorkExperience2{
    color:black;
    background-color: white;

}

.title{
    font-size: 18px;
    color: #ff0000;
}

.date{
    font-size: 13px;
}

.title2{
    font-size: 18px;
    color: #ff0000;
}

.date2{

    color: black;
    font-size: 10px;
}

.skills{
    justify-content: center;
    
}
.technologies2{
    font-size: 25px;
}

.technologies{
    font-size: 25px;
}

        

 }
